<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/karsha_drawdowns</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <property name="show_sql">true</property>
  <mapping class="model.Sys_CLM_CumulativeLMC"/>
  <mapping class="model.Drawdown"/>
  <mapping class="model.CRSP_ValueWeightedReturns"/>
  <mapping class="model.Sys_CLM_EndofMonthLMC"/>
  <mapping class="model.Sys_CLM_EndofMonthLMC_top_ten"/>
  
 </session-factory>
</hibernate-configuration>
