<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Drawdowns</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>IndexSrvlt</servlet-name>
    <servlet-class>lsf.drawdowns.dbCon.IndexSrvlt</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>adminSrvlt</servlet-name>
    <servlet-class>lsf.drawdowns.dbCon.adminSrvlt</servlet-class>
  </servlet>

  <servlet-mapping>
  	<servlet-name>adminSrvlt</servlet-name>
  	<url-pattern>/firstGraph</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>IndexSrvlt</servlet-name>
    <url-pattern>/dataGet</url-pattern>
    <url-pattern>/summaryData</url-pattern>
    <url-pattern>/indexData</url-pattern>
    <url-pattern>/rangeData</url-pattern>
    <url-pattern>/index</url-pattern>
    <url-pattern>/test_getSet</url-pattern>
    
  </servlet-mapping>
</web-app>